.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-47.7%, -48.5%);
    width: 27.5rem;
    height: 35.625rem;
    background-color: rgb(237, 220, 201);
    border-radius:  0 10px 10px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.407);
    z-index: 3;
    transition: transform .4s;
}

.toTop{
    top: 50%;
    left: 50%;
    transform: translate(-49%, -49.5%);
    z-index: 5;
    transition: transform .4s;
}

.nav{
    position: absolute;
    top: 7rem;
    right: -1.5rem;
    height: 3.5rem;
    width: 4.5rem;
    border-radius: 0 5px 5px 0;
    background-color: rgb(223, 199, 172);
    transition: right .3s, background-color .3s;
}

.nav:hover{
    cursor: pointer;
    right: -3rem;
    background-color: rgb(240, 222, 201);
    transition: right .3s, background-color .3s;
}


.selected{
    right: -3rem;
    background-color: rgb(240, 222, 201);
}

.selected:hover{
    cursor: default;
}

.img{
    position: relative;
    top: .3rem;
    right: -1.35rem;
    width: 2.8rem;
}