/*-----------------------------------------------
                     DEFAULT
-----------------------------------------------*/

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-47.7%, -48.5%);
    width: 27.5rem;
    height: 35.625rem;
    background-color: rgb(237, 220, 201);
    border-radius:  0 10px 10px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.407);
    z-index: 3;
    transition: transform .4s;
}

.toTop{
    top: 50%;
    left: 50%;
    transform: translate(-49%, -49.5%);
    z-index: 5;
    transition: transform .4s;
}

/*-----------------------------------------------
                     NAV
-----------------------------------------------*/

.nav{
    position: absolute;
    top: 7rem;
    right: -1.5rem;
    height: 3.5rem;
    width: 4.5rem;
    border-radius: 0 5px 5px 0;
    background-color: rgb(223, 199, 172);
    transition: right .3s, background-color .3s;
}

.nav:hover{
    cursor: pointer;
    right: -3rem;
    background-color: rgb(240, 222, 201);
    transition: right .3s, background-color .3s;
}


.selected{
    right: -3rem;
    background-color: rgb(240, 222, 201);
}

.selected:hover{
    cursor: default;
}

.img{
    position: relative;
    top: .3rem;
    right: -1.35rem;
    width: 2.8rem;
}

/*-----------------------------------------------
                   HEADER
-----------------------------------------------*/

.header{
    font-size: 1.2rem;
    position: fixed;
    z-index: 2;
    height: 2.8rem;
    width: 8rem;
    top: 1.48rem;
    left: 9.87rem;
    color: rgb(157, 134, 106);
    background-color: rgb(242, 232, 220);
    text-align: center;
    line-height: 2.8rem;
    padding: 0 2.1rem;
    border-radius: 32px;
}

/*-----------------------------------------------
                    BODY
-----------------------------------------------*/

.bodyContainer{
  position: absolute;
  display: flex-box;
  justify-content: center;
  align-items: center;
  top: 8%;
  left: 6%;
  height: 84%;
  width: 88%;
  border-radius: 5px;
  border: 2px dashed  rgb(220, 191, 156);
  background-color: rgb(242, 232, 220);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 2rem 1.5rem;
}


.pageBlock{
    position: absolute;
    left: 1%;
    top: 5%;
    height: 90%;
    width: 98%;
    overflow-x: hidden;
    overflow-y: auto;
  }


/*-----------------------------------------------
                     HINT
-----------------------------------------------*/

.hint{
    background-color: rgba(230, 203, 171, 0.401);
    margin-left: 1.5rem;
    margin-bottom: 1.6rem;
    width: 90%;
    height: 9rem;
    overflow: hidden;
    border-radius: 15px;
    transition: height .2s;
}

.hide{
    height: 0;
    transition: height .2s;
}

.hint>*:nth-child(2){
    font-size: .7rem;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 9rem;
    width: 61.5rem;
    justify-content: space-around;
}

.one{
    transform: translateX(0);
    transition: transform .3s;
}

.two{
    transform: translateX(-20.3rem);
    transition: transform .3s;
}

.three{
    transform: translateX(-40.7rem);
    transition: transform .3s;
}

.hint>*:nth-child(3){
    position: relative;
    left: 2.5rem;
    color: rgba(0, 0, 0, 0.336);
    top: -5.3rem;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    width:25rem;
}

.hint>*>*{
    width: 10rem;
}

.clicable{
    color: rgba(95, 14, 14, 0.436);
    cursor: pointer;
}

.unclicable{
    color: rgba(0, 0, 0, 0.136);
    cursor: default;
}

.showHint{
    position: absolute;
    top: .1rem;
    right: .85rem;
    padding: .2rem .6rem;
    background-color: transparent;
    cursor: pointer;
    z-index: 2;
}

.hideHint{
    position: absolute;
    top: .15rem;
    right: .85rem;
    padding: .2rem .6rem;
    background-color: rgba(220, 191, 156, 0.401);
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: top .2s, right .2s;
    transition-delay: .2s;
}

.hideHint::after{
    content: "?";
    color: rgba(95, 14, 14, 0.636);
}

.showHint::after{
    content: "x";
    color: rgba(95, 14, 14, 0.636);
}

.shideHint:hover::after{
    cursor: pointer;
}

.showHint:hover::after{
    cursor: pointer;
}


/*-----------------------------------------------
                    Fields
-----------------------------------------------*/

.fields{
  position: relative;
  width: 90%;
  left: 6%;
  display: flexbox;
}

.fields>*{
    margin-bottom: 1rem;
}

.fields>*>*{
   display: flex;
   align-items: center;
}

.fields>*:nth-child(2)> textarea{
    height: 7rem;
    resize: none;
    padding: 0.3rem 0.4rem;
}

.fields input,
.fields textarea{
    margin-top: 0.2rem;
    font-size: .8rem;
    width: 100%;
    outline: none;
    background-color: transparent;
    border: 1px dashed rgb(131, 22, 22);
    border-radius: 5px;
    padding: 0.3rem 0.4rem;
}

.fields>*>*> input + div{
    font-size: .85rem;
    padding: 4px 10px;
    margin-left: 10px;
    background-color: rgb(131, 22, 22);
    color: rgb(250, 217, 191);
    border-radius: 15px;
}

.fields>*>*> input + div:hover{
    cursor: pointer;
}

.timeFields{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.timeFields input{
    outline: none;
    border:none;
}

.timeFields>*{
    display: flexbox;
    flex-direction: column;
    align-items: center;
}

.timeFields>*>*:nth-child(2){
    display: flex;
    align-items: center;
    border: 1px dashed rgb(131, 22, 22);
    border-radius: 5px;
    padding: 0 .5rem;
    width: 9rem;
}

::placeholder{
    color: rgba(131, 22, 22, 0.404);
}


/*-----------------------------------------------
        ELEMENTS OF INGREDIENTS/DIRECTIONS
-----------------------------------------------*/

.elements{
    display: flexbox;
    flex-direction: column;
    align-items: flex-start;
    font-size: .9rem;
    width: 21.2rem;
}

.elements>*:first-child{
    margin-top: 1rem;
}

.elements>*:last-child{
    margin-bottom: 1rem;
}

.elements>*{
    display: flex;
    margin: 0 .5rem;
    flex-direction: row;
    margin-bottom: .5rem;
    align-items: center;
    justify-content: space-between;
}

.elements>*>*:nth-child(2){
    width: 15rem;
}

.elements>*>*:nth-child(3),
.elements>*>*:last-child{
    font-size: 1rem;
    margin-left: .5rem;
    color: rgb(90, 14, 14);
}

[contenteditable] {
    outline: 0px solid transparent;
    white-space: pre-wrap;
}

.elements>*>*:nth-child(3):hover,
.elements>*>*:last-child:hover{
    cursor: pointer;
}

.elements>*>*:nth-child(1){
    padding: .3rem .8rem;
    width: 2rem;
    background-color: rgb(237, 220, 201);
    margin-right: .8rem;
    border-radius: 20px;
}