/*-----------------------------------------------
                     DEFAULT
-----------------------------------------------*/

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-47.7%, -48.5%);
    width: 27.5rem;
    height: 35.625rem;
    background-color: rgb(237, 220, 201);
    border-radius:  0 10px 10px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.407);
    z-index: 3;
    transition: transform .4s;
}

.toTop{
    top: 50%;
    left: 50%;
    transform: translate(-49%, -49.5%);
    z-index: 5;
    transition: transform .4s;
}

/*-----------------------------------------------
                     NAV
-----------------------------------------------*/

.nav{
    position: absolute;
    top: 7rem;
    right: -1.5rem;
    height: 3.5rem;
    width: 4.5rem;
    border-radius: 0 5px 5px 0;
    background-color: rgb(223, 199, 172);
    transition: right .3s, background-color .3s;
}

.nav:hover{
    cursor: pointer;
    right: -3rem;
    background-color: rgb(240, 222, 201);
    transition: right .3s, background-color .3s;
}


.selected{
    right: -3rem;
    background-color: rgb(240, 222, 201);
}

.selected:hover{
    cursor: default;
}

.img{
    position: relative;
    top: .3rem;
    right: -1.35rem;
    width: 2.8rem;
}

/*-----------------------------------------------
                   HEADER
-----------------------------------------------*/

.header{
    font-size: 1.2rem;
    position: fixed;
    z-index: 2;
    height: 2.8rem;
    width: 8rem;
    top: 1.48rem;
    left: 9.87rem;
    color: rgb(157, 134, 106);
    background-color: rgb(242, 232, 220);
    text-align: center;
    line-height: 2.8rem;
    padding: 0 2.1rem;
    border-radius: 32px;
}

/*-----------------------------------------------
                    BODY
-----------------------------------------------*/

.bodyContainer{
  position: absolute;
  display: flex-box;
  justify-content: center;
  align-items: center;
  top: 8%;
  left: 6%;
  height: 84%;
  width: 88%;
  border-radius: 5px;
  border: 2px dashed  rgb(220, 191, 156);
  background-color: rgb(242, 232, 220);
  overflow: auto;
  padding: 2rem 1.5rem;
}


/*-----------------------------------------------
                    Fields
-----------------------------------------------*/

.fields{
  margin-top: 1rem;
  display: flexbox;
}

.fields>*{
    margin-bottom: 1rem;
}

.fields>*>*{
   display: flex;
   align-items: center;
}

.fields>*:nth-child(2)> textarea{
    height: 7rem;
    resize: none;
    padding: 0.3rem 0.4rem;
}

.fields input,
.fields textarea{
    margin-top: 0.2rem;
    font-size: .8rem;
    width: 100%;
    outline: none;
    background-color: transparent;
    border: 1px dashed rgb(131, 22, 22);
    border-radius: 5px;
    padding: 0.3rem 0.4rem;
}

.fields>*>*> input + div{
    font-size: .85rem;
    padding: 4px 10px;
    margin-left: 10px;
    background-color: rgb(131, 22, 22);
    color: rgb(250, 217, 191);
    border-radius: 15px;
}

.fields>*>*> input + div:hover{
    cursor: pointer;
}

.buttons{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.buttons>*{
    display: flexbox;
    align-items: center;
    justify-content: center;
    position: relative;
    color: rgb(131, 22, 22);
    width: 9rem;
    height: 3rem;
    text-transform: uppercase;
    border: 3px dashed rgb(131, 22, 22);
    border-radius: 10px;
}

.fields>*:last-child>*:hover{
    cursor: pointer;
    box-shadow: 0 0 8px rgba(131, 22, 22, 0.132);;
}

.timeFields{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.timeFields input{
    outline: none;
    border:none;
}

.timeFields>*{
    display: flexbox;
    flex-direction: column;
    align-items: center;
}

.timeFields>*>*:nth-child(2){
    display: flex;
    align-items: center;
    border: 1px dashed rgb(131, 22, 22);
    border-radius: 5px;
    padding: 0 .5rem;
    width: 9rem;
}

::placeholder{
    color: rgba(131, 22, 22, 0.404);
}


/*-----------------------------------------------
                ELEMENTS
-----------------------------------------------*/

.elements{
    display: flexbox;
    flex-direction: column;
    align-items: flex-start;
    font-size: .9rem;
    margin: 1rem .5rem;
    width: 100%;
}

.elements>*{
    display: flex;
    flex-direction: row;
    margin-bottom: .5rem;
    align-items: center;
}

.elements>*>*:nth-child(1){
    padding: .5rem 1rem;
    width: 2.5rem;
    background-color: rgb(237, 220, 201);
    margin-right: .5rem;
    border-radius: 20px;
}