body {
  background: url(images/kitchen.png) no-repeat center fixed;
  background-size: cover;
  overflow: hidden;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(142, 128, 102, 0.404);
  overflow: hidden;
}

*{
  /* font-family: 'Press Start 2P', cursive; */
  font-family: 'Chelsea Market', cursive;
}


::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #65030385;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background: #6503032d;
} 