body {
  background: url(images/kitchen.png) no-repeat center fixed;
  background-size: cover;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  background-color: rgba(142, 128, 102, 0.404);
}

*{
  /* font-family: 'Press Start 2P', cursive; */
  font-family: 'Chelsea Market', cursive;
}


::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #65030385;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background: #6503032d;
}